
<!-- FOOTER starts here -->
<footer>
    <div class="row">
        <div class="col">
            <img src="images/MotoHeal Logo.PNG" class="logo">
            <p> . Don't Miss Out! Exclusive Deals Just for You!. <br>
                . Get an instant 20% OFF on your first car service when you sign up for our newsletter! <br>                     
                . Join the MotoHeal VIP Club!</p>
        </div>
  
        <div class="col">
            <img src="" alt="">
            <h3>Trending! <div class="underline"> <span></span></div></h3>
            <p>Top Cars in Demand! <br> Explore the most sought-after cars and accessories available today. <br>  Don’t wait, these deals won’t last!   </p>
            <p>Refer & Earn! <br> Love MotoHeal? Refer a friend and get KES 5,000 OFF your next purchase.</p>
            <p class="email-id">motoheal.ac.ke</p>
            <h4>+254796578077</h4>
  
        
        </div>
  
        <div class="col">
          <center><h3>Links <div class="underline"> <span></span></div> </h3></center>
          <ul style="font-size: 10px; list-style-type: none; padding: 0;">
            <li class="btn" style="font-weight:bold; color:white; text-decoration:none; display: block;"><a href="index.html" style="color:white; text-decoration:none; font-size: 10px;">Home</a></li>
            <li class="btn" style="font-weight:bold; color:white; text-decoration:none; display: block;"><a href="accessories.html" style="color:white; text-decoration:none; font-size: 10px;">Accessories</a></li>
            <li class="btn" style="font-weight:bold; color:white; text-decoration:none; display: block;"><a href="maintenance.html" style="color:white; text-decoration:none; font-size: 10px;">Maintenance</a></li>
            <li class="btn" style="font-weight:bold; color:white; text-decoration:none; display: block;"><a href="dealership.html" style="color:white; text-decoration:none; font-size: 10px;">Dealership</a></li>
            <li class="btn" style="font-weight:bold; color:white; text-decoration:none; display: block;"><a href="contact.html" style="color:white; text-decoration:none; font-size: 10px;">Contact Us</a></li>
        </ul>
  
        
        
      </div>
        
        <div class="col">
            <h3>Newsletter <div class="underline"> <span></span></div></h3>
            <form action="">
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Enter your email id" required>
                <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
  
            </form>
            
        </div>
    </div>
    <hr>
    <p class="copyright"> Caleb Murambi @ 2024 - All Rights Reserved</p>
     
  
   </footer>
  
  
  
  
  
  <!-- Footer ends here -->
  
  
  
  