<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    {% include 'supportingfiles.html' %}
    <!-- <link rel="stylesheet" href="../static/css/footer.css"> -->
    
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Welcome to Login Page</h1>

    <section class="row p-4">
        <div class="col-md-6">
            <div class="card shadow p-3">
                <h3 class="text-danger text-center">{{error}}</h3>
                
                <form action="/login" method="post">
                    <label><b>Username:</b></label>
                    <input type="text" name="username" placeholder="Enter your username" class="form-control" required>

                    <label><b>Password:</b></label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control" required> <br><br>

                    <input type="submit" value="Login" class="btn btn-success">


                </form>
            </div>
        </div>
        <div class="col-md-6"></div>
    </section>




    <script>
        window.onload = function(){
            setTimeout(
                function() {
                    var successMessage = document.getElementById("success-message");
                    if (successMessage) {
                        successMessage.style.display = "none";
                    }
                }, 5000);
        }
    </script>

</body>
</html>