<section class="row">
    <div class="col-md-12">
       <nav class="navbar navbar-expand-md navbar-light btn-light p-3">
               <a href="#" class="navbar-brand"> <img src="../static/images/MotoHeal Logo.PNG" height="40" width="60"></a>
               <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                   <span class="navbar-toggler-icon"></span>
              </button>

               <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                         <a href="/" class="nav-item nav-link active">Home</a>
                         <a href="/parts" class="nav-item nav-link">Parts</a>
                         <a href="/services" class="nav-item nav-link">Services</a>
                         <a href="/customer_reviews" class="nav-item nav-link">Customer Reviews</a>
                         <a href="/search" class="nav-item nav-link">Search</a>
                         <a href="/aboutus" class="nav-item nav-link">About US</a>
                         <a href="/faqs" class="nav-item nav-link">FAQS</a>
                         <a href="/contactus" class="nav-item nav-link">Contact US</a>
                         <a href="/blog" class="nav-item nav-link">Blog</a>
                    </div>
                   <div class="ms-auto">
                    <!--    TODO Logout-->
                        <a href="/register" class="nav-item nav-link btn btn-outline-primary">Register</a>


                   </div>

               </div>
       </nav>
    </div>
</section>