<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicles</title>
    {% include 'supportingfiles.html' %}
    <link rel="stylesheet" href="../static/css/parts.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
    {% include 'navbar.html' %}

    <center><h2 class="text-danger">New Arrivals</h2></center>
    
    <section class="slider p-4">
        <ul class="cs-hidden autoWidth">
            {% for vehicle in vehicles %}
            <li>
                <div class="box">
                    <div class="slide-img">
                        <img src="../static/images/{{ vehicle[11] }}" alt="Vehicle Image" height="150" width="150">

                        <div class="overlay">
                            <!-- Link to single vehicle page with the correct vehicle ID -->
                            <a href="/singlevehicle/{{ vehicle[0] }}" class="buy-btn">View Details</a>
                        </div>
                    </div>
                </div>

                <div class="detail-box">
                    <b class="text-dark">{{ vehicle[3] }}</b> <!-- Vehicle name or model -->
                    <b class="text-success">KES {{ vehicle[5] }}</b> <!-- Vehicle price -->
                </div>
            </li>
            {% endfor %}
        </ul>
    </section> 

    <!-- footer -->
    {% include 'footer.html' %}

    <script src="AOS_dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-in-out-sine",
      });
    </script>
</body>
</html>
